.text-gradient {
  background: #3f4579;
  background: linear-gradient(to right, #3f4579 0%, #423d44 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
* {
  user-select: none;
}

ul li {
  position: relative;
  cursor: pointer;
}

ul li.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 50%;
  background-color: #3f4579;
  height: 3px;
  transition: width ease 0.5s;
  transform-origin: center;
}

ul li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0%;
  background-color: #3f4579;
  height: 3px;
  transition: width ease 0.5s, color ease 0.5s;
  transform-origin: center;
  transform: translateX(-50%);
}
ul li:hover::after {
  width: 100%;
}

ul li:hover {
  color: #3f4579;
}

.loginbtn:hover {
  border: 1px solid #3f4579;
}
.loginbtn {
  transition: border ease-in-out 0.2s;
  border: 1px solid transparent;
}

.qoutes .item {
  border-radius: 10px 20px 100px 20px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.qoutes .item.item-2 {
  border-radius: 20px 20px 20px 100px;
}

.qoutes .item.item-3 {
  border-radius: 20px 200px 20px 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  transition: all ease 0.4s;
}

@media screen and (max-width: 1210px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 960px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 639px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  transition: all ease 0.4s;
  z-index: 15;
}
.planTrip {
  visibility: hidden;
  transition: all ease 0.4s;
}

.card:not(:hover) {
  z-index: 5;
}

.card:hover {
  z-index: 16;
  scale: 1.01;
  transform: translateY(-10px);
  cursor: pointer;
}
.card:hover .planTrip {
  visibility: visible;
}

.item p:hover {
  cursor: pointer;
  color: #444046;
}
